beautifulsoup4==4.8.2
Flask==1.1.2
google-cloud==0.34.0
google-cloud-vision==2.0.0
nexmo==2.5.2
psycopg2==2.8.6
requests==2.23.0
selenium==3.141.0
webdriver-manager==3.2.2
chromedriver-binary==77.0.3865.40.0
gunicorn
Pillow
requests
DateTime